# Go backend
backend/tmp/
backend/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Frontend
frontend/node_modules/
frontend/public/build/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Database
*.dump

# Docker
.env

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
